/* ------------------------------------------------------------------ */
/*        General HTML - BODY
/* ------------------------------------------------------------------ */
// * {
//     outline: none;
//     -ms-overflow-style: none;  // IE 10+
//     overflow: -moz-scrollbars-none;  // Firefox
//     &::-webkit-scrollbar {
//         display: none;
//     }
// }

/* ------------------------------------------------------------------ */
/*        HEADER
/* ------------------------------------------------------------------ */

.header {

    position: fixed;
    top: 0px;

    width: calc(100% - 50px);
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding-bottom: 5px;
    padding-top: 15px;
    border-bottom: 1px solid $black;
    background-color: $fond;

    z-index: 10;

    .logo {

        svg {

            height: 11.5px;
            width: auto;

        }
    }

    .nav {

        display: flex;

        &_item {

            padding-left: 18px;

            text-transform: uppercase;
            opacity: 1;
            transition: opacity 0.2s ease;

            &_dash {

                margin-right: 5px;
                opacity: 0;

            }

            &_studio {

                @include sizeone {

                    display: none;

                }

            }

        }
    }
}

/* ------------------------------------------------------------------ */
/*        FOOTER
/* ------------------------------------------------------------------ */

.footer, footer {

    opacity: 0;
    transform: translate(0, 10px);
    // scroll-snap-stop: always;
    transform: translate(0px, -2px);
    background-color: $fond;


    &_top {

        display: flex;
        border-top: 1px solid $black;

        .project_button {
            border-right: 1px solid $black;
        }

        @include sizeone {

            display: none;

        }

        &_item {

            width: 50%;
            height: 200px;

            display: flex;
            justify-content: center;
            align-items: center;

            text-transform: uppercase;

            @include sizeone {

                height: 150px;

            }

        }

    }

    &_top_mobile {

        display: none;

        @include sizeone {

            display: flex;

        }

        .footer_top_item {

            width: 100%;
            border-top: 1px solid $black;

        }
    }

    &_bottom {

        border-top: 1px solid $black;
        display: flex;
        justify-content: space-around;
        height: 48px;

        .credits_part, .contact_part {

            width: 25%;

            @include sizeone {

                width: 50%;

            }

        }

        .credits_part {

            display: flex;
            align-items: center;

            @include sizeone {

                border-right: 1px solid $black;

            }

            svg {
                width: 46px;
                padding-top: 3px;

                @include sizeone {

                    width: 54px;

                }

            }

            &_text {

                font-size: 0.9rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 20px;
                line-height: 1.4;
                padding-top: 3px;

                @include sizethree {

                    font-size: 0.8rem;
                }

                @include sizetwo {

                    font-size: 0.7rem;
                }

                @include sizeone {

                    font-size: 0.8rem;

                    p:last-child {

                        display: none;

                    }

                }


            }
        }

        .studio_button {

            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            border-right: 1px solid $black;
            border-left: 1px solid $black;
            padding-top: 5px;

            @include sizeone {

                display: none;

            }

        }

        .contact_part {

            display: flex;
            flex-direction: column;
            padding-top: 11px;
            padding-left: 17px;
            line-height: 1.4;

            text-transform: uppercase;

            @include sizeone {

                padding-top: 18px;
                padding-left: 0;

            }

            &_item {

                @include sizeone {

                    text-align: center;

                }

                &:first-child {

                    @include sizeone {

                        display: none;

                    }

                }

            }

        }

    }

}

/* ------------------------------------------------------------------ */
/*        Preloader
/* ------------------------------------------------------------------ */
.progress_bar {

    position: fixed;
    height: 3px;
    width: 0%;
    top: 0;
    left: 0;
    background-color: $black;
    z-index: 10000;
    transition: width 0.05s ease;

}

.preloader {

    width: 100%;
    height: 100%;
    background-color: $fond;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 100;

}