/* ------------------------------------------------------------------ */
/*        HOME
/* ------------------------------------------------------------------ */
* {
    outline: 0;}

.is-home {

    .footer_top {
        display: none;
    }

    .footer_bottom {
        transform: translate(0px, -2px);
        background-color: $fond;
    }

}

.home {

    display: flex;
    z-index: -1;

    .project_part {
        border-right: 1px solid $black;
    }

    &_part {

        width: 50%;
        height: calc(100vh - 72.5px);
        // height: 33vh;
        overflow-y: scroll;
        -webkit-scroll-snap-type: mandatory;
        -webkit-scroll-snap-points-y: repeat(100%);
        scroll-snap-type: y mandatory;

        &_item {

            height: calc(100vh - 72.5px);
            // height: 33vh;
            box-sizing: border-box;
            -webkit-scroll-snap-align: end;
            scroll-snap-align: end;

            border-bottom: 1px solid $black;

        }

        .main_item {

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 14px;

            &_left {

                padding-left: 0;
            }

            &_right {

                padding-right: 0;

            }
        }

        .presentation_item {

            position: relative;

            .image_container {

                box-sizing: border-box;
                width: 100%;
                height: 100%;
                padding: 74px;
                padding-bottom: 148px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

            }

            .legend_part {

                position: absolute;
                left: 0;
                bottom: 74px;
                text-align: center;
                width: 100%;
            }
        }
    }
}