/* ------------------------------------------------------------------ */
/*        PROJETS
/* ------------------------------------------------------------------ */

.projets {

    margin-top: 48px;

    .heroe {

        position: -webkit-sticky;
        position: sticky;
        top: -121px;
        background-color: $fond;
        z-index: 1;

        .nav_projects {

            display: flex;
            border-bottom: 1px solid $black;
            padding-bottom: 12px;
            height: 40px;
            justify-content: space-between;

            &_categories, &_format {
                display: flex;
            }

            .nav_item {

                margin-right: 17px;
                text-transform: uppercase;
                line-height: 4.6;

                &_dash {

                    margin-right: 5px;
                    opacity: 0;
                    transition: opacity .2s ease;

                }

                &_select > .nav_item_dash {

                    opacity : 1;

                }
            }

            &_format .nav_item {

                margin-right: 0px;
                margin-left: 17px;

            }
        }
    }


    .wall {

        display: flex;
        display: none;
        flex-wrap: wrap;
        border-bottom: 1px solid $black;
        padding-bottom: 30px;

        &_item {

            width: 25%;
            height: calc(100vh / 3);
            padding: 17px;

            .img {

                width: 100%;
                height: 100%;
                object-fit: contain;

            }
            .legend_part {

                text-align: center;

            }
        }
    }

    .table {

        .table_part {

            width: 50%;
            padding-right: 20px;
            border-right: 1px solid $black;
            // height: calc(100vh - 104px);
            // overflow: scroll;
            // scroll-snap-type: y mandatory;

            .legends {

                padding-top: 20px;
                display: flex;
                padding-bottom: 8px;

                background-color: $fond;
                z-index: 0;

                &_categorie, &_location, &_date {

                    width: calc(100% / 7);

                }

                &_project {

                    width: calc(100% / 7 * 4);

                }

            }

            .project {

                display: flex;
                border-top: 1px solid $black;

                &_categorie, &_location, &_date {

                    width: calc(100% / 7);
                    padding-right: 12px;
                    padding-left: 12px;
                    margin-bottom: 10px;
                    margin-top: 12px;
                    padding-top: 7.5px;
                    text-align: center;
                    font-size: 1rem;

                }

                &_project {

                    width: calc(100% / 7 * 4);
                    text-align: center;
                    padding-top: 0px;
                    padding-right: 12px;
                    padding-left: 12px;
                    margin-top: 12px;
                    margin-bottom: 10px;
                    font-size: 1.8rem;

                }

                &_categorie, &_location, &_project {

                    border-right: 1px solid $black;

                }

            }
        }

        .visual_part {

            position: fixed;
            width: calc(50% - 25px);
            height: calc(100vh - 356px);
            top: var(--navPosition);
            right: 25px;
            padding: 70px 100px;

            .img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        }

    }
}