<header class="header">
    <h1 class="logo">{% include 'logo.twig' %}</h1>
	<nav class="nav">
        <div class="nav_item"><a href="/projets"><span class="nav_item_dash">—</span>Projets</a></div>
        <div class="nav_item"><a href="/objets"><span class="nav_item_dash">—</span>Objets</a></div>
        <div class="nav_item"><a href="/studio"><span class="nav_item_dash">—</span>Le Studio</a></div>
    </nav>
</header>