/* ------------------------------------------------------------------ */
/*        HEADING DECLARATION
/* ------------------------------------------------------------------ */
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--black);
}
html {
    color: var(--black);
    font-family: $nb, sans-serif;

    background: #e4e4e4;

    font-size: 0.65rem;
    color: $black;
    background-color: $fond;
    letter-spacing: 0.4px;
    letter-spacing: 0.5;

    // scroll-snap-type: y proximity;

}

body {

    margin: 10px 25px 16px 25px;

}

.page {

    margin-top: 48px;
    // scroll-snap-align: end;
    // scroll-snap-stop: always;
    // scroll-margin-top: 48px;

}

.title_part {

    font-size: 2.1rem;
    font-family: $flute;
    line-height: 1.5;
    text-transform: uppercase;
    padding-top: 12px;


}

.description_part {

    // font-family: $nbb;
    font-size: 1.1rem;
    line-height: 1.5;

}

.link {

    text-align: right;
    line-height: 1.5;
    text-decoration: underline;

}

.flute {
    font-family: $flute;
    text-transform: uppercase;
}

.heroe {

    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.info {

    text-transform: uppercase;
    font-size: 1.3rem;

}

.type {

    font-size: 0.9rem;
    font-family: $nbb;
}